#app,#app2 {
  padding: 10px;
  border: 1px solid green;
  margin:0 0 10px 0; 

  div {
      padding: 10px;
      border: 1px solid rgb(228, 95, 210);    
      margin: 10px 0;   
      box-sizing: border-box;
  }
}